# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.pytest_cache/
.coverage
.mypy_cache/

# Virtual environments
.venv/
venv/

# Environment
.env
.env.*

# AI
*.pkl
*.joblib

# Data
backend/data/
*.csv

# Logs
*.log

# IDE
.idea/
.vscode/

# macOS / Windows
.DS_Store
Thumbs.db

# Flutter
flutter_app/build/
flutter_app/.dart_tool/
flutter_app/.flutter-plugins
flutter_app/.flutter-plugins-dependencies

# Android
**/local.properties

# Misc
*.zip